<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <section class="first-container">
    <h1>Welcome to <%= title %> !</h1>
    <h2>by: Eljan Joel Y. Pamintuan</h2>
  </section>
</body>
</html>
